<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ARIA_Premium_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ARIA_Premium_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <userSettings>
        <ARIA_Premium_System.My.MySettings>
            <setting name="UseDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceProvider" serializeAs="String">
                <value>Azure</value>
            </setting>
            <setting name="VoiceLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="VoiceGender" serializeAs="String">
                <value>Female</value>
            </setting>
            <setting name="VoiceSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VoicePitch" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ContinuousListening" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceActivation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioDevice" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="RecordingFormat" serializeAs="String">
                <value>WAV</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundRecording" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCostTracking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CostLimit" serializeAs="String">
                <value>10.00</value>
            </setting>
            <setting name="CostAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CostAlertThreshold" serializeAs="String">
                <value>5.00</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>1200, 700</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </ARIA_Premium_System.My.MySettings>
    </userSettings>

    <applicationSettings>
        <ARIA_Premium_System.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>ARIA Premium System</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>ARIA Technologies</value>
            </setting>
            <setting name="SupportUrl" serializeAs="String">
                <value>https://aria-technologies.com/support</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://aria-technologies.com/updates</value>
            </setting>
            <setting name="LicenseUrl" serializeAs="String">
                <value>https://aria-technologies.com/license</value>
            </setting>
            <setting name="MaxConcurrentSessions" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultEncryptionKey" serializeAs="String">
                <value>ARIA_ENCRYPTION_KEY_2024</value>
            </setting>
        </ARIA_Premium_System.Properties.Settings>
    </applicationSettings>

    <appSettings>
        <!-- API Configuration -->
        <add key="OpenAI_BaseUrl" value="https://api.openai.com/v1" />
        <add key="Azure_BaseUrl" value="https://your-resource.openai.azure.com" />
        <add key="Google_BaseUrl" value="https://speech.googleapis.com/v1" />

        <!-- Audio Configuration -->
        <add key="DefaultSampleRate" value="44100" />
        <add key="DefaultBitRate" value="16" />
        <add key="DefaultChannels" value="1" />
        <add key="AudioBufferSize" value="4096" />

        <!-- Performance Configuration -->
        <add key="MaxTranscriptionLength" value="10000" />
        <add key="MaxRecordingDuration" value="14400" />  <!-- 4 hours in seconds -->
        <add key="AutoSaveInterval" value="300" />  <!-- 5 minutes in seconds -->
        <add key="BackupRetentionDays" value="30" />

        <!-- Network Configuration -->
        <add key="RequestTimeout" value="30000" />  <!-- 30 seconds -->
        <add key="MaxRetryAttempts" value="3" />
        <add key="RetryDelay" value="1000" />  <!-- 1 second -->

        <!-- Security Configuration -->
        <add key="EnableSSL" value="true" />
        <add key="ValidateServerCertificate" value="true" />
        <add key="EncryptLocalData" value="true" />

        <!-- Logging Configuration -->
        <add key="LogDirectory" value="Logs" />
        <add key="MaxLogFileSize" value="10485760" />  <!-- 10 MB -->
        <add key="MaxLogFiles" value="10" />

        <!-- UI Configuration -->
        <add key="EnableAnimations" value="true" />
        <add key="DefaultTheme" value="Dark" />
        <add key="AutoHideInactiveControls" value="false" />

        <!-- Cost Tracking Configuration -->
        <add key="CostTrackingPrecision" value="4" />
        <add key="CurrencyFormat" value="USD" />
        <add key="UpdateCostInterval" value="1000" />  <!-- 1 second -->

        <!-- Meeting Configuration -->
        <add key="DefaultMeetingDuration" value="3600" />  <!-- 1 hour -->
        <add key="MaxParticipants" value="50" />
        <add key="EnableMeetingBackup" value="true" />
        <add key="MeetingExportFormats" value="TXT,DOCX,PDF,JSON" />
    </appSettings>

    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ARIA_System.log" />
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>

    <system.net>
        <defaultProxy enabled="true" useDefaultCredentials="true">
            <proxy autoDetect="true" />
        </defaultProxy>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="false" />
        </settings>
    </system.net>

    <system.web>
        <compilation debug="false" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="300" />
    </system.web>

</configuration>